In [1]:
# Week 4 Classwork Pandas

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_excel(r"ElectricCarData_Clean.xlsx" , sheet_name="COC",header= None)
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,attackerTag,defenderTag,stars,destructionPercentage,order,duration,attacker_townHallLevel,attacker_expLevel,attacker_trophies,attacker_bestTrophies,attacker_warStars,attacker_attackWins,attacker_defenseWins,attacker_builderHallLevel
1,#QJUCV989Q,#LVP9V20C0,1,60,1,123,9,42,920,902,72,5,4,5
2,#QJUCV989Q,#92PQCC2PG,0,37,2,69,9,42,920,902,72,5,4,5
3,#QCQPCU2PC,#LVP9V20C0,2,65,3,100,9,44,952,950,73,3,1,5
4,#L2U9QV0LJ,#LQC2YC0UP,1,64,4,124,13,149,2523,3099,1658,1,16,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,#YJVJP8VG,#2RRRVVRJP,1,66,22,102,15,234,5087,5290,2183,120,9,9
96,#2RRRVVRJP,#QY2PUC2G,2,76,23,179,15,251,5319,5542,1958,207,2,9
97,#22RL0PRPR,#UPU0L2VU,2,83,24,116,14,219,4262,5200,2321,26,11,9
98,#8JUPVY0YV,#2RRRVVRJP,1,55,25,154,15,248,5492,5800,1727,208,2,9
99,#8JUPVY0YV,#C0G8PGQC,2,96,26,175,15,248,5492,5800,1727,208,2,9

In [4]:
type(df1)

pandas.core.frame.DataFrame

In [5]:
df2 = pd.read_excel(r"ElectricCarData_Clean.xlsx" , sheet_name="EV",header= None)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
1,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
2,Volkswagen,ID.3 Pure,10,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
3,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
4,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
100,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
101,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
102,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
103,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

In [6]:
type(df2)

pandas.core.frame.DataFrame

In [16]:
pd.read_excel(r"ElectricCarData_Clean.xlsx" , sheet_name="EV", header = None, names = ['A','B'])

                                                                                                                                                                   A  \
Brand       Model                           AccelSec TopSpeed_KmH Range_Km Efficiency_WhKm FastCharge_KmH RapidCharge PowerTrain PlugType   BodyStyle Segment  Seats
Tesla       Model 3 Long Range Dual Motor   4.6      233          450      161             940            Yes         AWD        Type 2 CCS Sedan     D            5
Volkswagen  ID.3 Pure                       10       160          270      167             250            Yes         RWD        Type 2 CCS Hatchback C            5
Polestar    2                               4.7      210          400      181             620            Yes         AWD        Type 2 CCS Liftback  D            5
BMW         iX3                             6.8      180          360      206             560            Yes         RWD        Type 2 CCS SUV       D            5
...                                                                                                                                                              ...
Nissan      Ariya 63kWh                     7.5      160          330      191             440            Yes         FWD        Type 2 CCS Hatchback C            5
Audi        e-tron S Sportback 55 quattro   4.5      210          335      258             540            Yes         AWD        Type 2 CCS SUV       E            5
Nissan      Ariya e-4ORCE 63kWh             5.9      200          325      194             440            Yes         AWD        Type 2 CCS Hatchback C            5
            Ariya e-4ORCE 87kWh Performance 5.1      200          375      232             450            Yes         AWD        Type 2 CCS Hatchback C            5
Byton       M-Byte 95 kWh 2WD               7.5      190          400      238             480            Yes         AWD        Type 2 CCS SUV       E            5

                                                                                                                                                                       B
Brand       Model                           AccelSec TopSpeed_KmH Range_Km Efficiency_WhKm FastCharge_KmH RapidCharge PowerTrain PlugType   BodyStyle Segment  PriceEuro
Tesla       Model 3 Long Range Dual Motor   4.6      233          450      161             940            Yes         AWD        Type 2 CCS Sedan     D            55480
Volkswagen  ID.3 Pure                       10       160          270      167             250            Yes         RWD        Type 2 CCS Hatchback C            30000
Polestar    2                               4.7      210          400      181             620            Yes         AWD        Type 2 CCS Liftback  D            56440
BMW         iX3                             6.8      180          360      206             560            Yes         RWD        Type 2 CCS SUV       D            68040
...                                                                                                                                                                  ...
Nissan      Ariya 63kWh                     7.5      160          330      191             440            Yes         FWD        Type 2 CCS Hatchback C            45000
Audi        e-tron S Sportback 55 quattro   4.5      210          335      258             540            Yes         AWD        Type 2 CCS SUV       E            96050
Nissan      Ariya e-4ORCE 63kWh             5.9      200          325      194             440            Yes         AWD        Type 2 CCS Hatchback C            50000
            Ariya e-4ORCE 87kWh Performance 5.1      200          375      232             450            Yes         AWD        Type 2 CCS Hatchback C            65000
Byton       M-Byte 95 kWh 2WD               7.5      190          400      238             480            Yes         AWD        Type 2 CCS SUV       E            62000

[104 rows x 2 columns]

In [8]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,attackerTag,defenderTag,stars,destructionPercentage,order,duration,attacker_townHallLevel,attacker_expLevel,attacker_trophies,attacker_bestTrophies,attacker_warStars,attacker_attackWins,attacker_defenseWins,attacker_builderHallLevel
1,#QJUCV989Q,#LVP9V20C0,1,60,1,123,9,42,920,902,72,5,4,5
2,#QJUCV989Q,#92PQCC2PG,0,37,2,69,9,42,920,902,72,5,4,5
3,#QCQPCU2PC,#LVP9V20C0,2,65,3,100,9,44,952,950,73,3,1,5
4,#L2U9QV0LJ,#LQC2YC0UP,1,64,4,124,13,149,2523,3099,1658,1,16,7

In [9]:
df2.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
99,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
100,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
101,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
102,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
103,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

In [19]:
k = pd.read_csv("ElectricCarData_Clean.csv")
k

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

In [21]:
pd.read_csv('ElectricCarData_Clean.csv',names=['model','brand'])

                                                                                                                                                               model  \
Brand       Model                           AccelSec TopSpeed_KmH Range_Km Efficiency_WhKm FastCharge_KmH RapidCharge PowerTrain PlugType   BodyStyle Segment  Seats
Tesla       Model 3 Long Range Dual Motor   4.6      233          450      161             940            Yes         AWD        Type 2 CCS Sedan     D            5
Volkswagen  ID.3 Pure                       10       160          270      167             250            Yes         RWD        Type 2 CCS Hatchback C            5
Polestar    2                               4.7      210          400      181             620            Yes         AWD        Type 2 CCS Liftback  D            5
BMW         iX3                             6.8      180          360      206             560            Yes         RWD        Type 2 CCS SUV       D            5
...                                                                                                                                                              ...
Nissan      Ariya 63kWh                     7.5      160          330      191             440            Yes         FWD        Type 2 CCS Hatchback C            5
Audi        e-tron S Sportback 55 quattro   4.5      210          335      258             540            Yes         AWD        Type 2 CCS SUV       E            5
Nissan      Ariya e-4ORCE 63kWh             5.9      200          325      194             440            Yes         AWD        Type 2 CCS Hatchback C            5
            Ariya e-4ORCE 87kWh Performance 5.1      200          375      232             450            Yes         AWD        Type 2 CCS Hatchback C            5
Byton       M-Byte 95 kWh 2WD               7.5      190          400      238             480            Yes         AWD        Type 2 CCS SUV       E            5

                                                                                                                                                                   brand
Brand       Model                           AccelSec TopSpeed_KmH Range_Km Efficiency_WhKm FastCharge_KmH RapidCharge PowerTrain PlugType   BodyStyle Segment  PriceEuro
Tesla       Model 3 Long Range Dual Motor   4.6      233          450      161             940            Yes         AWD        Type 2 CCS Sedan     D            55480
Volkswagen  ID.3 Pure                       10       160          270      167             250            Yes         RWD        Type 2 CCS Hatchback C            30000
Polestar    2                               4.7      210          400      181             620            Yes         AWD        Type 2 CCS Liftback  D            56440
BMW         iX3                             6.8      180          360      206             560            Yes         RWD        Type 2 CCS SUV       D            68040
...                                                                                                                                                                  ...
Nissan      Ariya 63kWh                     7.5      160          330      191             440            Yes         FWD        Type 2 CCS Hatchback C            45000
Audi        e-tron S Sportback 55 quattro   4.5      210          335      258             540            Yes         AWD        Type 2 CCS SUV       E            96050
Nissan      Ariya e-4ORCE 63kWh             5.9      200          325      194             440            Yes         AWD        Type 2 CCS Hatchback C            50000
            Ariya e-4ORCE 87kWh Performance 5.1      200          375      232             450            Yes         AWD        Type 2 CCS Hatchback C            65000
Byton       M-Byte 95 kWh 2WD               7.5      190          400      238             480            Yes         AWD        Type 2 CCS SUV       E            62000

[104 rows x 2 columns]

In [22]:
pd.read_csv("ElectricCarData_Clean.csv",sep='@')

    Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0    Tesla ,Model 3 Long Range Dual Motor,4.6,233,4...
1    Volkswagen ,ID.3 Pure,10,160,270,167,250,Yes,R...
2    Polestar ,2,4.7,210,400,181,620,Yes,AWD,Type 2...
3    BMW ,iX3 ,6.8,180,360,206,560,Yes,RWD,Type 2 C...
4    Honda ,e ,9.5,145,170,168,190,Yes,RWD,Type 2 C...
..                                                 ...
98   Nissan ,Ariya 63kWh,7.5,160,330,191,440,Yes,FW...
99   Audi ,e-tron S Sportback 55 quattro,4.5,210,33...
100  Nissan ,Ariya e-4ORCE 63kWh,5.9,200,325,194,44...
101  Nissan ,Ariya e-4ORCE 87kWh Performance,5.1,20...
102  Byton ,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Y...

[103 rows x 1 columns]

In [24]:
k.tail()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

In [25]:
type(k)

pandas.core.frame.DataFrame

In [26]:
len(k)

103

In [29]:
k.columns

Index(['Brand', 'Model', 'AccelSec', 'TopSpeed_KmH', 'Range_Km',
       'Efficiency_WhKm', 'FastCharge_KmH', 'RapidCharge', 'PowerTrain',
       'PlugType', 'BodyStyle', 'Segment', 'Seats', 'PriceEuro'],
      dtype='object')

In [33]:
k.dtypes

Brand               object
Model               object
AccelSec           float64
TopSpeed_KmH         int64
Range_Km             int64
Efficiency_WhKm      int64
FastCharge_KmH      object
RapidCharge         object
PowerTrain          object
PlugType            object
BodyStyle           object
Segment             object
Seats                int64
PriceEuro            int64
dtype: object

In [38]:
k[['Brand','Model','PriceEuro']]

           Brand                            Model  PriceEuro
0         Tesla     Model 3 Long Range Dual Motor      55480
1    Volkswagen                         ID.3 Pure      30000
2      Polestar                                 2      56440
3           BMW                              iX3       68040
4         Honda                                e       32997
..           ...                              ...        ...
98       Nissan                       Ariya 63kWh      45000
99         Audi     e-tron S Sportback 55 quattro      96050
100      Nissan               Ariya e-4ORCE 63kWh      50000
101      Nissan   Ariya e-4ORCE 87kWh Performance      65000
102       Byton                 M-Byte 95 kWh 2WD      62000

[103 rows x 3 columns]

In [39]:
k.describe()

,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,Seats,PriceEuro
count,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000
mean,7.396117,179.194175,338.786408,189.165049,4.883495,55811.563107
std,3.017430,43.573030,126.014444,29.566839,0.795834,34134.665280
min,2.100000,123.000000,95.000000,104.000000,2.000000,20129.000000
25%,5.100000,150.000000,250.000000,168.000000,5.000000,34429.500000
50%,7.300000,160.000000,340.000000,180.000000,5.000000,45000.000000
75%,9.000000,200.000000,400.000000,203.000000,5.000000,65000.000000
max,22.400000,410.000000,970.000000,273.000000,7.000000,215000.000000

In [40]:
k.dtypes == 'object'

Brand               True
Model               True
AccelSec           False
TopSpeed_KmH       False
Range_Km           False
Efficiency_WhKm    False
FastCharge_KmH      True
RapidCharge         True
PowerTrain          True
PlugType            True
BodyStyle           True
Segment             True
Seats              False
PriceEuro          False
dtype: bool

In [41]:
k.dtypes[k.dtypes == 'object']

Brand             object
Model             object
FastCharge_KmH    object
RapidCharge       object
PowerTrain        object
PlugType          object
BodyStyle         object
Segment           object
dtype: object

In [42]:
k.dtypes[k.dtypes == 'object'].index

Index(['Brand', 'Model', 'FastCharge_KmH', 'RapidCharge', 'PowerTrain',
       'PlugType', 'BodyStyle', 'Segment'],
      dtype='object')

In [43]:
k[k.dtypes[k.dtypes == 'object'].index]

,Brand,Model,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment
0,Tesla,Model 3 Long Range Dual Motor,940,Yes,AWD,Type 2 CCS,Sedan,D
1,Volkswagen,ID.3 Pure,250,Yes,RWD,Type 2 CCS,Hatchback,C
2,Polestar,2,620,Yes,AWD,Type 2 CCS,Liftback,D
3,BMW,iX3,560,Yes,RWD,Type 2 CCS,SUV,D
4,Honda,e,190,Yes,RWD,Type 2 CCS,Hatchback,B
...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,440,Yes,FWD,Type 2 CCS,Hatchback,C
99,Audi,e-tron S Sportback 55 quattro,540,Yes,AWD,Type 2 CCS,SUV,E
100,Nissan,Ariya e-4ORCE 63kWh,440,Yes,AWD,Type 2 CCS,Hatchback,C
101,Nissan,Ariya e-4ORCE 87kWh Performance,450,Yes,AWD,Type 2 CCS,Hatchback,C
102,Byton,M-Byte 95 kWh 2WD,480,Yes,AWD,Type 2 CCS,SUV,E

In [45]:
k[k.dtypes[k.dtypes == 'object'].index].describe()

,Brand,Model,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment
count,103,103,103,103,103,103,103,103
unique,33,102,51,2,3,4,9,8
top,Tesla,e-Soul 64 kWh,230,Yes,AWD,Type 2 CCS,SUV,C
freq,13,2,6,98,41,90,45,30

In [47]:
k.dtypes[k.dtypes == 'float']

AccelSec    float64
dtype: object

In [50]:
k[k.dtypes[k.dtypes == 'float'].index]

     AccelSec
0         4.6
1        10.0
2         4.7
3         6.8
4         9.5
..        ...
98        7.5
99        4.5
100       5.9
101       5.1
102       7.5

[103 rows x 1 columns]

In [51]:
k[k.dtypes[k.dtypes == 'float'].index].describe

<bound method NDFrame.describe of      AccelSec
0         4.6
1        10.0
2         4.7
3         6.8
4         9.5
..        ...
98        7.5
99        4.5
100       5.9
101       5.1
102       7.5

[103 rows x 1 columns]>

In [53]:
k['Brand']

0           Tesla
1      Volkswagen
2        Polestar
3             BMW
4           Honda
          ...
98         Nissan
99           Audi
100        Nissan
101        Nissan
102         Byton
Name: Brand, Length: 103, dtype: object

In [54]:
 k['Brand'][1:14:2]

1     Volkswagen
3            BMW
5          Lucid
7        Peugeot
9           Audi
11        Nissan
13           BMW
Name: Brand, dtype: object

In [55]:
k

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Nissan,Ariya 63kWh,7.5,160,330,191,440,Yes,FWD,Type 2 CCS,Hatchback,C,5,45000
99,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050
100,Nissan,Ariya e-4ORCE 63kWh,5.9,200,325,194,440,Yes,AWD,Type 2 CCS,Hatchback,C,5,50000
101,Nissan,Ariya e-4ORCE 87kWh Performance,5.1,200,375,232,450,Yes,AWD,Type 2 CCS,Hatchback,C,5,65000
102,Byton,M-Byte 95 kWh 2WD,7.5,190,400,238,480,Yes,AWD,Type 2 CCS,SUV,E,5,62000

In [56]:
k.columns

Index(['Brand', 'Model', 'AccelSec', 'TopSpeed_KmH', 'Range_Km',
       'Efficiency_WhKm', 'FastCharge_KmH', 'RapidCharge', 'PowerTrain',
       'PlugType', 'BodyStyle', 'Segment', 'Seats', 'PriceEuro'],
      dtype='object')

In [65]:
k['TopSpeed_KmH']== max(k['TopSpeed_KmH'])

0      False
1      False
2      False
3      False
4      False
       ...
98     False
99     False
100    False
101    False
102    False
Name: TopSpeed_KmH, Length: 103, dtype: bool

In [67]:
k['TopSpeed_KmH']

0      233
1      160
2      210
3      180
4      145
      ...
98     160
99     210
100    200
101    200
102    190
Name: TopSpeed_KmH, Length: 103, dtype: int64

In [70]:
k[k['PowerTrain']== 'RWD']

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997
8,Tesla,Model 3 Standard Range Plus,5.6,225,310,153,650,Yes,RWD,Type 2 CCS,Sedan,D,5,46380
13,BMW,i4,4.0,200,450,178,650,Yes,RWD,Type 2 CCS,Sedan,D,5,65000
15,Volkswagen,ID.3 Pro S,7.9,160,440,175,590,Yes,RWD,Type 2 CCS,Hatchback,C,4,40936
22,Skoda,Enyaq iV 50,10.0,160,290,179,230,Yes,RWD,Type 2 CCS,SUV,C,5,35000
25,Volkswagen,ID.4,7.5,160,420,183,560,Yes,RWD,Type 2 CCS,SUV,C,5,45000
26,Volkswagen,ID.3 Pro,9.0,160,350,166,490,Yes,RWD,Type 2 CCS,Hatchback,C,5,33000
28,BMW,i3 120 Ah,7.3,150,235,161,270,Yes,RWD,Type 2 CCS,Hatchback,B,4,38017
37,CUPRA,el-Born,6.5,160,425,181,570,Yes,RWD,Type 2 CCS,Hatchback,C,4,45000
53,Skoda,Enyaq iV 80,8.8,160,420,183,560,Yes,RWD,Type 2 CCS,SUV,C,5,40000
55,Honda,e Advance,8.3,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,35921
57,Renault,Twingo ZE,12.6,135,130,164,-,No,RWD,Type 2,Hatchback,A,4,24790
64,Ford,Mustang Mach-E ER RWD,7.0,180,450,200,430,Yes,RWD,Type 2 CCS,SUV,D,5,54475
70,BMW,i3s 120 Ah,6.9,160,230,165,260,Yes,RWD,Type 2 CCS,Hatchback,B,4,41526
77,Smart,EQ forfour,12.7,130,95,176,-,No,RWD,Type 2,Hatchback,A,4,22030
80,Volkswagen,ID.3 1st,7.3,160,340,171,470,Yes,RWD,Type 2 CCS,Hatchback,C,5,38987
82,Smart,EQ fortwo coupe,11.6,130,100,167,-,No,RWD,Type 2,Hatchback,A,2,21387
83,Ford,Mustang Mach-E SR RWD,6.6,180,360,194,380,Yes,RWD,Type 2 CCS,SUV,D,5,46900
86,Tesla,Cybertruck Single Motor,7.0,180,390,256,740,Yes,RWD,Type 2 CCS,Pickup,N,6,45000
89,Skoda,Enyaq iV 60,9.0,160,320,181,440,Yes,RWD,Type 2 CCS,SUV,C,5,37500
91,Smart,EQ fortwo cabrio,11.9,130,95,176,-,No,RWD,Type 2,Cabrio,A,2,24565
95,Volkswagen,ID.3 Pro Performance,7.3,160,340,171,470,Yes,RWD,Type 2 CCS,Hatchback,C,5,35575
97,Byton,M-Byte 72 kWh 2WD,7.5,190,325,222,420,Yes,RWD,Type 2 CCS,SUV,E,5,53500

In [71]:
len(k[k['PowerTrain']== 'RWD'])

25

In [74]:
k[k['AccelSec']>10.0]

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
17,Volkswagen,e-Up!,11.9,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,A,4,21421
32,Renault,Zoe ZE50 R110,11.4,135,315,165,230,Yes,FWD,Type 2 CCS,Hatchback,B,5,31184
43,Skoda,CITIGOe iV,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,A,4,24534
44,SEAT,Mii Electric,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,A,4,20129
57,Renault,Twingo ZE,12.6,135,130,164,-,No,RWD,Type 2,Hatchback,A,4,24790
60,Renault,Zoe ZE40 R110,11.4,135,255,161,230,Yes,FWD,Type 2 CCS,Hatchback,B,5,29234
66,Nissan,e-NV200 Evalia,14.0,123,190,200,190,Yes,FWD,Type 1 CHAdeMO,SPV,N,7,33246
68,Renault,Kangoo Maxi ZE 33,22.4,130,160,194,-,No,FWD,Type 2,SPV,N,5,38000
77,Smart,EQ forfour,12.7,130,95,176,-,No,RWD,Type 2,Hatchback,A,4,22030
82,Smart,EQ fortwo coupe,11.6,130,100,167,-,No,RWD,Type 2,Hatchback,A,2,21387
91,Smart,EQ fortwo cabrio,11.9,130,95,176,-,No,RWD,Type 2,Cabrio,A,2,24565

In [75]:
k[k['AccelSec']>10.0]['Brand']

17    Volkswagen
32       Renault
43         Skoda
44          SEAT
57       Renault
60       Renault
66        Nissan
68       Renault
77         Smart
82         Smart
91         Smart
Name: Brand, dtype: object

In [76]:
(k['AccelSec']>10.0) & (k['Brand']== 'Smart')

0      False
1      False
2      False
3      False
4      False
       ...
98     False
99     False
100    False
101    False
102    False
Length: 103, dtype: bool

In [77]:
data = {'name' : ['Kaushik', 'Avadhut','Soham','Alita'], 
       'salary': [1234, 3200, 1300, 123400],
       'email': ['kt@mes.ac.in', 'ap@mes.ac.in', 'sb@mes.ac.in','a@mes.ac.in'],
       'addr': ['PNVL', 'MNSR', 'SHRVDN', 'DIGI']}
ab = pd.DataFrame(data)
ab

      name  salary         email    addr
0  Kaushik    1234  kt@mes.ac.in    PNVL
1  Avadhut    3200  ap@mes.ac.in    MNSR
2    Soham    1300  sb@mes.ac.in  SHRVDN
3    Alita  123400   a@mes.ac.in    DIGI

In [78]:
pd.DataFrame(data,index = [4,5,6,7])

      name  salary         email    addr
4  Kaushik    1234  kt@mes.ac.in    PNVL
5  Avadhut    3200  ap@mes.ac.in    MNSR
6    Soham    1300  sb@mes.ac.in  SHRVDN
7    Alita  123400   a@mes.ac.in    DIGI

In [79]:
ab.loc[4:7]

Empty DataFrame
Columns: [name, salary, email, addr]
Index: []

In [81]:
ab.iloc[1:3]

      name  salary         email    addr
1  Avadhut    3200  ap@mes.ac.in    MNSR
2    Soham    1300  sb@mes.ac.in  SHRVDN